.breadcrumb{
    list-style: none;
    display: flex;
    background-color: #E3E5E8;
    height: 36PX;
    align-items: center;

}
.breadcrumb-item{
    font-size: 13PX;
    color:black ;
}

.page-conatiner{
    width: 800px;
    padding: 80px 24px;
    margin:auto;
}
h1{
    font-size: 36px;
    color: #373737;
    margin-bottom: 40px;
    font-weight: 600px;
    height: 44px;
}
.profile_img-container{
    color: #7d7d7d;
    font-size: 75px;
    border: 1px solid #e4e4e4;
    height: 100px;
    width: 100px;
    line-height: 100px;
    border-radius: 50%;
    
    
}
.row {
    display: flex;
   flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    height: 96px;
}
.fa-user{
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit{
    height: 15px;
    font-size: 10px;
    text-decoration: underline;
    cursor: pointer;
    justify-content: flex-end;
}
.col-md-9{
    display: flex;

}
.my-interested-properties {
    background-color: #fcfaf7;
    padding: 40px 24px;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
.property-card{
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.img-container{
    flex-direction: 0 0 150px;
    max-width: 150px;
   
}
.img-container img{
    width: 100%;
    height: auto;
    display: block;

}
.content-container{
    padding: 16px;
    flex:1;
}
.star-container,.interested-container,.detail-container{
    margin-bottom: 8px;
}
.property-name{
    font-weight: 600;
    font-size: 18px;
}
.property-address{
    font-size: 14px;
    color: #666;
}